/* Logout button */
.btn-custom-logout {
  background-color: rgb(179, 0, 0) !important;
  color: white !important; 
  border: none;
  transition: all 0.05s linear ! important;
}

.btn-custom-logout:hover {
  background-color: white ! important;
  font-weight: 800 !important;
  color: rgb(179, 0, 0) !important;
  border-color: rgb(179, 0, 0) !important;
}

/* Pop-out effect class */
.btn-popout {
  transition: all 0.12s ease-in-out !important; /* fast and smooth */
}

.btn-popout:hover {
  transform: scale(1.03); /* very slight pop */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); /* very soft shadow */
}

/* New button */
